<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Chocolate</title>
</head>

<body style='text-align: center; '>
  <h1 style='font-size: 50px;'> Chocolate </h1>

  <nav>
    <a href="../index.html" style='font-size: 40px;'>Ir al inicio</a>
  </nav>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste corrupti, neque excepturi quia placeat assumenda
    praesentium porro reprehenderit voluptatibus! Cumque earum debitis quasi praesentium perferendis omnis ex nam soluta
    enim.
  </p>
  <hr />
  <img src="https://jumbo.vtexassets.com/arquivos/ids/446721/Chocolate-de-leche-150-g.jpg?v=637630916269170000" style='max-width: 40rem;' alt="Chocolate">
</body>

</html>